---
// Components
import MainLayout from "../../layouts/MainLayout.astro"
import PostsContainer from "../../components/PostsContainer.astro"
import { getCollection } from "astro:content"

const entries = await getCollection("blog")

// Config options
const limit = 10
const filterDraft = false
const filterFuture = false
const sort = "desc"
---

<MainLayout title="Blog" description="Welcome to our blog page">
  <section class="container" aria-label="Blog Posts">
    <h1 class="h1">My Blog</h1>
    <p>Welcome to my blog! Here we share our thoughts, news, and updates.</p>
    <PostsContainer {entries} {limit} {filterDraft} {filterFuture} {sort} />
  </section>
</MainLayout>
